

/*Para las letras que tengan el tamaño h1   */

h1{
  color: white;
text-align: center;
font-weight: bold;
font-size: 18pt;
}
/*Para las letras que tengan el tamaño h2   */

h2{
  color: white;
font-size: 14pt;
}

/*Para border   */

img{
  border-radius: 80px;
}



.resume .resume_left .resume_social .semi-bold {
  color: #fff;
  margin-bottom: 3px;
}

.resume .resume_right {
  width: 520px;
  background: #fff;
  padding: 25px;
}

.resume .resume_right .bold {
  color: white;
}



.resume .resume_right ul li {
  position: relative;
}
/* Año */
.resume .resume_right ul li .date {
  font-size: 15px;
  font-weight: 800;
  margin-bottom: 15px;
}

.resume .resume_right ul li .info {
  margin-bottom: 20px;
}

.resume .resume_right ul li:last-child .info {
  margin-bottom: 0;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #585c68;
  font-size: 14px;
  line-height: 22px;
  color: #555555;
}

.bold {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

/* letras de la descripcion de formacion academica y formacion adicional */
.letra2 {
  font-weight: 700;
  font-size: 17px;
   text-transform: uppercase;
}

.semi-bold {
  font-weight: 500;
  font-size: 16px;
}

.resume {
  width: 800px;
  height: auto;
  display: flex;
  margin: 50px auto;
}

/* color fondo purpura de la parte izquierda */
.resume .resume_left {
  width: 280px;
  background: purple;
}

.resume .resume_left .resume_profile {
  width: 100%;
  height: 280px;
}

.resume .resume_left .resume_profile img {
  width: 100%;
  height: 100%;
}

.resume .resume_left .resume_content {
  padding: 0 25px;
}

.resume .title {
  margin-bottom: 30px;
}
/* letras grandes de color de contacto y habilidades */
.resume .resume_left .bold {
  color: #fff;
}

.resume .resume_left .regular {
  color: purple
    ;
}

.resume .resume_item {
  padding: 25px 0;
  border-bottom: 2px solid width
    
    ;
}

.resume .resume_left .resume_item:last-child,
.resume .resume_right .resume_item:last-child {
  border-bottom: 0px;
}

.resume .resume_left ul li {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.resume .resume_left ul li:last-child {
  margin-bottom: 0;
}

/* icono */
.resume .resume_left ul li .icon {
  width: 35px;
  height: 35px;
  background: white;
  color: purple;
  border-radius: 50%;
  margin-right: 15px;
  font-size: 16px;
  position: relative;
}

.resume .icon i,
.resume .resume_right .resume_hobby ul li i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* letras  de la descripción de contacto y redes sociales */
.resume .resume_left ul li .data {
  color: white;
}




/* letras redes socialesr */
.resume .resume_left .resume_social .semi-bold {
  color: width;
  margin-bottom: 3px;
}

/* fondo parte blanca */
.resume .resume_right {
  width: 420px;
  background: white;
  padding: 25px;
}
 /* letras grandes de color */
.resume .resume_right .bold {
  color: purple;
    
}




.resume .resume_right ul li {
  position: relative;
}



.resume .resume_right ul li .info {
  margin-bottom: 20px;
}



.resume .resume_right .resume_work ul li:before,
.resume .resume_right .resume_education ul li:before {
  
  position: absolute;
  top: 5px;
  left: -15px;
  width: 8px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid purple;
}

.resume .resume_right .resume_work ul li:after,
.resume .resume_right .resume_education ul li:after {
  content: "";
  position: absolute;
  top: 14px;
  left: -21px;
  width: 2px;
  height: 115px;
  background: white;
}


.resume .resume_left ul li:last-child {
  margin-bottom: 0;
}

.resume .resume_left ul li {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}



 /* Porcentje en los lenguajes que dice habilidades */
.resume .resume_left ul li .data {
  color: white;
}

.resume .resume_left .resume_skills ul li {
  display: flex;
  margin-bottom: 10px;
  color: #b1eaff;
  justify-content: space-between;
  align-items: center;
}

.resume .resume_left .resume_skills ul li .skill_name {
  width: 25%;
}

.resume .resume_left .resume_skills ul li .skill_progress {
  width: 60%;
  margin: 0 5px;
  height: 5px;
  background: blue;
  position: relative;
}


.resume .resume_left .resume_skills ul li .skill_progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #fff;
}



